@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --color-turquoise: 0 176 201;
    --color-gold: 255 163 0;
    --color-hot-pink: 255 22 84;
    --black-100: 0 0 0;
    --white-100: 255 255 255;
    --text-primary: var(--black-100);
    --backg-primary: var(--white-100);
    --font-sans:  "Arimo", ui-sans-serif, system-ui, "Helvetica Neue", sans-serif;
    --font-mono: Menlo, ui-monospace, SFMono-Regular, "Courier New", monospace;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 1.5rem;
    --font-size-3xl: 1.875rem;
    --font-size-4xl: 2.25rem;
    --font-size-5xl: 3rem;
    --font-size-6xl: 3.75rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  :root .dark {
    --color-turquoise: 0 130 153;
    --color-gold: 163 95 0;
    --color-hot-pink: 196 0 44;
    --text-primary: var(--white-100);
    --backg-primary: var(--black-100);
  }
}

@layer utilities {
  .focus-ui:not([disabled]) {
    @apply border-solid border-2 active:border-blue-600 focus:border-blue-600 outline outline-transparent outline-offset-0;
  }
  .focus-ui:not([disabled]).selected {
    @apply border-blue-600;
  }
  [disabled] {
    @apply cursor-not-allowed border-transparent text-black-alpha-75 bg-black-alpha-25
      dark:text-white-alpha-75 dark:bg-white-alpha-25;
  }
  [disabled]:hover,
  [disabled]:active,
  [disabled]:focus {
    @apply text-black-alpha-75 border-transparent bg-black-alpha-25 dark:text-white-alpha-75 dark:bg-white-alpha-25;
  }
}


@layer components {
  .btn {
    @apply text-primary font-semibold font-sans text-base rounded-3xl shadow-lg focus-ui
      py-2 px-4 flex items-center w-fit max-w-full h-12;
  }
  .btn-primary:not([disabled],.error) {
    @apply bg-turquoise-25 border-turquoise-100 hover:bg-turquoise-75 active:bg-turquoise-100 focus:bg-turquoise-75
      bg-gradient-to-b from-turquoise-25 to-transparent;
  }
  .btn-primary.selected:not([disabled],.outlined) {
    @apply bg-turquoise-100;
  }
  .btn-primary.outlined:not([disabled],.error) {
    @apply hover:text-cyan-700 focus:text-cyan-700 active:text-cyan-800
      dark:hover:text-cyan-500 dark:focus:text-cyan-500 dark:active:text-cyan-500;
  }
  .btn-secondary:not([disabled],.error) {
    @apply bg-gold-25 border-gold-100 hover:bg-gold-75 active:bg-gold-100 focus:bg-gold-75
      bg-gradient-to-b from-gold-25 to-transparent;
  }
  .btn-secondary.selected:not([disabled],.outlined) {
    @apply bg-gold-100;
  }
  .btn-secondary.outlined:not([disabled],.error) {
    @apply bg-transparent hover:text-orange-500 focus:text-orange-500
     dark:hover:text-amber-500 dark:focus:text-amber-500;
  }
  .btn.error:not([disabled]) {
    @apply border-hot-pink-50 focus-ui;
  }
  .btn.error:not([disabled],.outlined) {
    @apply bg-hot-pink-50 hover:bg-hot-pink-75 focus:bg-hot-pink-75 active:bg-hot-pink-100;
  }
  .btn.error.outlined:not([disabled]) {
    @apply hover:text-red-600 focus:text-red-600 active:text-red-700 dark:active:text-red-500;
  }
  .btn.error.selected:not([disabled],.outlined) {
    @apply bg-hot-pink-100;
  }
  .btn.outlined:not([disabled]) {
    @apply bg-none bg-transparent;
  }
}